openapi: 3.0.3
info:
  title: 'Shakewell API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://localhost'
paths:
  /api/login:
    post:
      summary: 'Login user'
      operationId: loginUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: ''
                  example: ipsum
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: libero
                  nullable: false
              required:
                - username
                - password
      security: []
  /api/logout:
    post:
      summary: 'Logout user'
      operationId: logoutUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/register:
    post:
      summary: 'Register new user'
      operationId: registerNewUser
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: sit
                  nullable: false
                username:
                  type: string
                  description: ''
                  example: corrupti
                  nullable: false
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: jaylon84@example.com
                  nullable: false
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: "tCK?_vXLo'D"
                  nullable: false
              required:
                - name
                - username
                - email
                - password
      security: []
  /api/health-check:
    get:
      summary: ''
      operationId: getApiHealthCheck
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: OK
                  timestamp: 'November 20, 2024, 2:26 PM'
                properties:
                  status:
                    type: string
                    example: OK
                  timestamp:
                    type: string
                    example: 'November 20, 2024, 2:26 PM'
      tags:
        - Endpoints
      security: []
  /api/user:
    get:
      summary: 'Get user details'
      operationId: getUserDetails
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Profile
      security: []
  /api/vouchers:
    get:
      summary: 'Get All Vouchers'
      operationId: getAllVouchers
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Vouchers
      security: []
    post:
      summary: 'Create Voucher'
      operationId: createVoucher
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Vouchers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'Numquam aut nisi perspiciatis totam unde animi voluptatem dolores.'
                  nullable: true
                amount:
                  type: number
                  description: 'Must be at least 0.'
                  example: 33
                  nullable: false
              required:
                - amount
      security: []
  '/api/vouchers/{id}':
    get:
      summary: 'Show Voucher'
      operationId: showVoucher
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Vouchers
      security: []
    put:
      summary: 'Update Voucher'
      operationId: updateVoucher
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Vouchers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: ''
                  example: adipisci
                  nullable: false
                description:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'Dolores aut cumque iusto ipsam odio quia quae.'
                  nullable: true
                amount:
                  type: number
                  description: 'Must be at least 0.'
                  example: 70
                  nullable: false
              required:
                - code
                - amount
      security: []
    delete:
      summary: 'Delete Voucher'
      operationId: deleteVoucher
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Vouchers
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the voucher.'
        example: reprehenderit
        required: true
        schema:
          type: string
tags:
  -
    name: Authentication
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: Profile
    description: ''
  -
    name: Vouchers
    description: ''
